<form action="/compare" method="post">
  <textarea name="original" placeholder="Original text"></textarea><br>
  <textarea name="modified" placeholder="Modified text"></textarea><br>
  <input type="submit" value="Compare">
</form>
